page-exampattern {
    table .sub_heading{
        font-weight: 800;
    }
    table{
        width: 100%;
        
    }
    table tr td{
        width:50%;
        border:1px solid #333;
        padding: 10px;
    }
   

}
